{% extends 'base.html.twig' %}

{% block title %}Créer une Nouvelle Recette{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Créer une Nouvelle Recette</h1>

    {{ include('recipe/_form.html.twig') }}

    <div class="mt-4 text-center">
        <a href="{{ path('app_recipe_index') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Retour à la liste
        </a>
    </div>
</div>
{% endblock %}
